/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      body {
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #2b2d38;
      }

      h1 {
        color: white;
        font-family: courier;
        font-size: 40px;
      }

      input {
        text-align: center;
        width: 20%;
        font-size: 24px;
        border-radius: 4px;
        border-style: hidden;
        padding: 4px;
        box-shadow: 0px 0px 20px 7px rgb(20,20,20);
      }

      .bold {
        color: red;
        font-weight: bold;
      }

      .menuButton {
        color: white;
        font-size: 20px;
        position: fixed;
        top: 12px;
        left: 12px;
        font-family: courier;
      }

      .menuButton:hover {
        font-weight: bold;
        cursor: default;
      }

      .sideMenu {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden;
        padding-top: 60px;
        text-align: left;
      }

      .sideMenu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      .sideMenu span {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }

      .sideMenu span:hover, .offcanvas span:focus{
        color: #f1f1f1;
        cursor: default;
      }

      #map {
        height: 80%;
        width: 80%;
        min-height: 700px;
        margin: 24px auto auto auto;
        padding: 4px;
        border-style: solid;
        border-color: ghostwhite;
        border-width: 4px;
        border-radius: 4px;
        box-shadow: 0px 0px 20px 7px rgb(20,20,20);
      }
