/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      body {
        width: 100%;
        height: 100%;
      }

      #map {
        height: 80%;
        width: 80%;
      }